@using System.Collections.Generic
@using Broker.Models
@using Microsoft.AspNet.Identity
@using Broker.Web.Constants
@using System.Linq;

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                    @User.Identity.GetUserName()
                    <strong class="caret"></strong>
                </a>
                <ul id="dropdownAdmin" class="dropdown-menu userDropdown">
                    <li>
                        @Html.ActionLink("User details", "Details", "Account", routeValues: null, htmlAttributes: new { title = "User details" })
                    </li>
                    <li>
                        @Html.ActionLink("Change password", "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })
                    </li>
                    @if (ViewBag.ApplicationUser.Agency != null)
                    {
                        <li>@Html.ActionLink("My Agency", "Details", "Agency", new{ id = ViewBag.ApplicationUser.Agency.Id }, null)</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Create Agency", "Create", "Agency")</li>
                        <li>@Html.ActionLink("Join Agency", "List", "Agency")</li>
                    }
                    <li>
                        <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="@Url.Action("Inbox", "Mail")">
                    <div>
                        <span class="glyphicon glyphicon-envelope"></span>
                        @{ List<Mail> mails = ViewBag.ApplicationUser.Mails; }
                        @if (mails.Any(x => x.IsRead == false))
                        {
                            <span class="badge alert-danger">
                                @mails.Count(x=>x.IsRead==false)
                            </span>
                        }
                    </div>
                </a>
            </li>
            <li>
                <a href="@Url.Action("Details", "Account")" style="padding-bottom:8px; padding-top:10px;">
                    @if (ViewBag.ApplicationUser.Image != null)
                    {
                        <img src="@Html.Image((string)ViewBag.ApplicationUser.Image, ImageType.ProfilePhoto, ImageSizes.Tiny)" style="height:32px" class="img-circle"/>
                    }
                    else
                    {
                        <span class="glyphicon glyphicon-user" style="font-size:25px"></span>
                    }
                </a>
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
