@using Broker.Web.ViewModels
@model AgencyViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@foreach (var item in ViewBag.roles)
{
    <p>@item</p>
}
@using (Html.BeginForm("Create", "Agency", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Agency</h4>

        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Image, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="imageFile" />
                @Html.ValidationMessageFor(model => model.Image)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Description)
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>
    
        <div class="form-group">
            @Html.LabelFor(model => model.HomePhone, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HomePhone)
                @Html.ValidationMessageFor(model => model.HomePhone)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MobilePhone, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MobilePhone)
                @Html.ValidationMessageFor(model => model.MobilePhone)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Address, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" id="us2-address" style="width: 400px" name="@Html.NameFor(m=>m.Address)" class="form-control"/>
                @Html.ValidationMessageFor(model => model.Address)
                <div id="us2" style="width: 300px; height: 300px;"></div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

<script>
    $('#us2').locationpicker({
        location: { latitude: 46.15242437752303, longitude: 2.7470703125 },
        radius: 0,
        inputBinding: {
            locationNameInput: $('#us2-address')
        },
        enableAutocomplete: true
    });
</script>
}
