@model Broker.Models.Agency
@using System.Drawing
@using Broker.Web.Helpers
@using Broker.Web.Constants

@{
    ViewBag.Title = "Details";
}

<div class="row">
    <div class="col-xs-5">
        <img src="@Html.Image(Model.Image, ImageType.AgencyLogo, ImageSizes.Normal)" />
    </div>
    <div class="col-xs-7">
        <h1>@Model.Name</h1>
        @Model.Description
    </div>
</div>
<div style="margin-top: 20px">
    <ul class="nav nav-tabs" role="tablist">
        <li class="active"><a href="#details" role="tab" data-toggle="tab">Details</a></li>
        <li><a href="#participants" role="tab" data-toggle="tab">Participants
                <span class="badge">@Model.Participants.Count</span>
            </a>
        </li>
        <li>
            <a href="#candidates" role="tab" data-toggle="tab">Candidates
                @if (@Model.Candidacies.Count > 0)
                {
                    <span class="badge alert-danger">@Model.Candidacies.Count</span>
                }
            </a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="row">
        <div class="col-xs-10">
            <div class="tab-content">
                <div class="tab-pane active" id="details">
                    <div class="row">
                        <div class="col-sm-6 ">
                            <div class="row">
                                <div class="col-xs-3">
                                    Rank
                                </div>
                                <div class="col-xs-9">
                                    8.9 / 9
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-3">
                                    Participants
                                </div>
                                <div class="col-xs-9">
                                    78
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-3">
                                    Qr code
                                </div>
                                <div class="col-xs-9">
                                    <img src="@Html.GoogleQrImage(Request.Url.ToString())" />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-xs-3">
                                    Email:
                                </div>
                                <div class="col-xs-9">
                                    @Model.Email
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-3">
                                    Home phone:
                                </div>
                                <div class="col-xs-8">
                                    @Model.HomePhone
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-3">
                                    Mobile phone:
                                </div>
                                <div class="col-xs-9">
                                    @Model.MobilePhone
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-3">
                                    Address:
                                </div>
                                <div class="col-xs-9">
                                    <img src="@Html.GoogleStaticImage(Model.Address)" />
                                    @Model.Address
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                
                <div class="tab-pane" id="participants">
                    <table class="table">
                        <tr>
                            <th>Photo</th>
                            <th>Name</th>
                            <th>Rank</th>
                            <th></th>
                        </tr>
                        @foreach (var user in @Model.Participants)
                        {
                            <tr>
                                <td><img src="@Html.Image(user.Image, ImageType.ProfilePhoto, ImageSizes.Tiny)" class="img-circle"/></td>
                                <td>@user.FirstName @user.LastName</td>
                                <td>8.9/10</td>
                                <td>@Html.ActionLink("Details", "Details", "Account", new { id = user.Id }, new { @class = "btn btn-info btn-sm" })</td>
                            </tr>
                        }
                    </table>
                </div>
                <div class="tab-pane" id="candidates">
                    <table class="table">
                        <tr>
                            <th>Photo</th>
                            <th>Name</th>
                            <th>Rank</th>
                            <th></th>
                        </tr>
                        @foreach (var candidacy in @Model.Candidacies)
                        {
                            <tr>
                                <td><img src="@Html.Image(candidacy.Candidator.Image, ImageType.ProfilePhoto, ImageSizes.Tiny)" class="img-circle" /></td>
                                <td>@candidacy.Candidator.FirstName @candidacy.Candidator.LastName</td>
                                <td>8.9/10</td>
                                <td>
                                    @Html.ActionLink("Details", "Details", "Account", new { id = candidacy.Candidator.Id }, new { @class = "btn btn-info btn-sm" })
                                    @Html.ActionLink("Accept", "AcceptCandidacy", "Agency", new { id = candidacy.Candidator.Id }, new { @class = "btn btn-success btn-sm" })
                                    @Html.ActionLink("Decline", "DeclineCandidacy", "Agency", new { id = candidacy.Candidator.Id }, new { @class = "btn btn-danger btn-sm" })
                                </td>

                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
